<nav class="navbar navbar-expand-lg degradado">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">PicStory</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if logged? %>
                  <li>
                      <%= link_to "Create Story", new_story_path, class: 'nav-link' %>
                      <!-- <a class="nav-link" href="#">Create Story</a> -->
                  </li>
                  <li class="nav-item">
                      <%= link_to "My PicStories", stories_path, class: 'nav-link' %>
                  </li>
                  <li class="nav-item">
                      <%= link_to "My profile", user_path(current_user), class: 'nav-link' %>
                  </li>
                  <li class="nav-item">
                      <%= button_to "Sing out", session_path(current_user), class: 'nav-link',
                      method: :delete, form: { turbo_data: { confirm: '¿Quiere cerrar la sesión?' }}
                      %>
                  </li>
                <% else %>
                  <!-- CUANDO NO TENEMOS SESIÓN -->
                  <li class="nav-item">
                      <%= link_to "Sign up", new_user_path, class: 'nav-link' %>
                  </li>
                  <li class="nav-item">
                      <%= link_to "Sign in", new_session_path, class: 'nav-link' %>                      
                  </li>
                <% end %>
            </ul>

        </li>
      </ul>
    </div>
  </div>
</nav>